*{
    /* outline: 1px solid red; */
}
:root{
    --ciColor: #ffc107;
    --bacGray: #f1f1f1;
}


/* 輪播圖更換模板 */
.carousel-item{
    overflow: hidden;
}
.carousel-item-img{
    /* min-height: 40vh; */
    height: 800px;
}
.carousel-item-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.carousel-control-prev-icon,
.carousel-control-next-icon{
    display: block;
    background-image: none;
}
.carousel-control-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    font-size: 70px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .5);
    overflow: hidden;
}
.carousel-control i {
    position: relative;
    font-size: 60px;
    color: #454545;
}
.carousel-control-prev i{
    left: -2px;
}
.carousel-control-next i{
    right: -2px;
}



/* 商城介紹 */
.counterIntroduce_area {
    background: #f0f0f0;
    border-bottom: 1px solid #e5e5e5;
    padding: 50px 0;
    font-family: 'Inconsolata', monospace;
}

.introduce-grid-left {
    max-width: 1000px;
    position: relative;
    list-style: none;
    text-align: center;
}
.counterIntroduce_area .effect-lexi {
    max-width: 200px;
    border-radius: 500px;
    overflow: hidden;
    margin: auto;
}
.introduce-grid-left {
    max-width: 1000px;
    position: relative;
    list-style: none;
    text-align: center;
}
.counterIntroduce_area .effect-lexi img {
    width: 100%;
    vertical-align: bottom;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.counterIntroduce_area h3 {
    color: #353434;
    text-align: left;
    font-weight: 400;
    font-size: 32px;
    letter-spacing: 1px;
    text-shadow: 0 2px 12px rgba(0, 0, 0, 0.14);
}

.discount-grid-content {
    margin: 0 20px;
    /* display: flex; */
    border: 1px solid var(--ciColor);
    /* border-radius: 5px; */
}
.introduce_grid {
    margin: 0 auto;
    /* width: 80%; */
}
.introduce_grid label {
    margin: 0;
    letter-spacing: 1px;
    color: var(--ciColor);
    font-size: 16px;
}
.introduce_grid p {
    width: 100%;
    margin: 1em auto 0;
    color: #959596;
    line-height: 2em;
    font-size: 14px;
    letter-spacing: 1px;
}

/* 折價券 */
.section-discount .container-fluid{
    border-bottom: 2px solid var(--bacGray);
}
.bottom-sub-grid {
    /* padding: 0 5em; */
}
.discount-text-box{
    border-right: 2px dotted #fff;
    background-color: #fff;
    flex-grow: 1;
}
.discount-grid-icon {
    /* float: left; */
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    /* border-radius: 50%; */
    /* border: 2px solid #777; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.discount-grid-text-info {
    /* float: right; */
    /* width: 100%; */
    text-align: left;
    /* padding-top: 20px; */
}
.discount-grid-text-info h3 {
    font-size: 0.9em;
    color: var(--ciColor);
    margin: 0em 0 0.5em;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}
.discount-text-box p{
    margin: 0;
    letter-spacing: 1px;
    font-size: 0.9em;
    line-height: 1.9em;
    color: #777;
}
.discount-text-box i{
    font-size: 32px;
    font-weight: 400;
}
.discount-grid-content a{
    position: relative;
    padding: 9px 35px;
    border: none;
    border-radius: 0;
    background-color: var(--ciColor);
    color: #454545;
    /* text-decoration: none; */
    /* text-transform: uppercase; */
    /* overflow: hidden; */
    font-size: 16px;
    text-align: center;
    font-weight: 700;
    line-height: 120px;
    letter-spacing: 3px;
    /* z-index: 9; */
    transition: all 1s ease;
}
.discount-grid-content p:hover a{
    color: #fff;
}

.introduce-grids .effect-lexi {
    max-width: 200px;
    border-radius: 500px;
    overflow: hidden;
    margin: auto;
}
.introduce-grids .effect-lexi img{
    width: 100%;
    vertical-align: bottom;
}




.shop_toolbar_wrapper{
    border-left: none;
    border-right: none;
}
.slider_s_three .slider_area .owl-nav div{
    /* opacity: 1;
    visibility: visible; */
    font-size: 70px;
    line-height: 70px;
    border-radius: 10px;
    overflow: hidden;
}

/* .slider_s_three .slider_area .owl-nav  div i{
    position: relative;
}
.slider_s_three .slider_area .owl-prev i{
    left: -2px;
}
.slider_s_three .slider_area .owl-next i{
    right: -2px;
} */
/* .slider_area .owl-dots{
    bottom: 20px;
} */

.shop_toolbar_wrapper,
.shop_toolbar {
    padding-top: 16px;
    padding-bottom: 16px;
    border-left: none;
    border-right: none;
}
.single_product:hover .action_links{
    padding: 6px;
    right: 15px;
}
.action_links ul li a{
    width: 45px;
}
.action_links:hover{
    border-color: #aaa;
}